<footer class="footer mt-auto py-4 custom-footer">
  <div class="container">
    <div class="row text-center text-lg-start align-items-center">

      <div class="col-12 col-md-4 mb-3 mb-md-0">
        
        <h5>Contacto</h5>
        <p class="mb-1">Telefono: 648094272</p>
        <p class="mb-1">rodrigo.fernun&#64;educa.jcyl.es</p>
        <p> Calle Ficticia 123, Madrid</p>
        
      </div>

      <div class="col-12 col-md-4 mb-3 mb-md-0 d-flex justify-content-center">
        <a routerLink="/">
          <img class="logo" src="assets/logo_padel.jpg" />
        </a>
      </div>

      <div class="col-12 col-md-4">
        <h5>Síguenos</h5>
        <div class="d-flex justify-content-center justify-content-md-start gap-3">
          <a href="https://www.facebook.com/?locale=es_ES" target="_blank"><i class="bi bi-facebook fs-4"></i></a>
          <a href="https://www.instagram.com" target="_blank"><i class="bi bi-instagram fs-4"></i></a>
          <a href="https://x.com/?lang=es" target="_blank"><i class="bi bi-twitter fs-4"></i></a>
        </div>
      </div>

    </div>
  </div>
</footer>
