<div class="contenedor">
  <div class="contenido">
    <h2>Reserva de pista</h2>

    <form [formGroup]="reservaForm" (ngSubmit)="enviar()" class="formulario">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" placeholder="Tu nombre" />
        <mat-error *ngIf="reservaForm.get('nombre')?.invalid && reservaForm.get('nombre')?.touched">
          Nombre requerido.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fecha" placeholder="Selecciona una fecha" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="reservaForm.get('fecha')?.invalid && reservaForm.get('fecha')?.touched">
          Fecha requerida.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Hora</mat-label>
        <mat-select formControlName="hora">
          <mat-option *ngFor="let hora of horasTotales" [value]="hora" [disabled]="horaOcupadaEnFecha(hora)">
            {{ hora }} <span *ngIf="horaOcupadaEnFecha(hora)"> (Ocupada)</span>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Número de pista</mat-label>
        <input matInput type="number" formControlName="pista" min="1" />
        <mat-error *ngIf="reservaForm.get('pista')?.hasError('required')">
          Introduce un número válido de pista.
        </mat-error>
        <mat-error *ngIf="reservaForm.get('pista')?.hasError('pistaInvalida')">
          La pista debe estar entre 1 y 9.
        </mat-error>
      </mat-form-field>

      <button type="submit" [disabled]="reservaForm.invalid" [ngClass]="{'btn-activo': reservaForm.valid, 'btn-inactivo': reservaForm.invalid}">Reservar</button>
      
      <p *ngIf="mensaje" class="mensaje-error">{{ mensaje }}</p>
    </form>
  </div>
</div>