.contenedor {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.contenido {
  max-width: 500px;
  width: 100%;
  background-color: #f8f8f8;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.full-width {
  width: 100%;
}

.ocupada-text {
  color: #d32f2f; 
  font-weight: 500;
  margin-left: 6px;
  font-size: 0.9em;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-inactivo {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.btn-activo {
  background-color: #4caf50; 
  color: white;
}

.btn-activo:hover {
  background-color: #45a049;
}
.mensaje-error {
  margin-top: 1rem;
  color: #30B200;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 600px) {
  .contenido {
    padding: 1rem;
  }

  h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  .formulario {
    gap: 1rem;
  }
  button {
    width: 100%;        
    font-size: 1.2rem;  
    padding: 14px 0;    
    min-width: unset;   
    border-radius: 8px; 
  }
}

